# Data Cleaning, Feature Engineering, and EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Just import the data, not the sheets that include instructions/dictionary.

df = pd.read_excel("Data Scientist Candidate Case Study Data.xlsx",
                   sheet_name="data")

In [3]:
df.head()

,lead_number,Apts_in_next_seven_c,lead_segment_20_c,distance_to_center,dental_condition,has_email,created_date,scheduled_time_c,apt_date_c,apt_hour,...,CreatedByChannel,estimated_income_min_c,estimated_income_max_c,economic_stability_indicator_c,total_liquid_investible_assets_c,ATP_value,affluence_index_value,income_360_value,vantage_score_neighborhood_risk_score_value,isArrived
0,1,78.0,17.0,7.264197,Cracked/Broken Teeth,1,2022-05-25 01:47:05 UTC,2023-01-27 06:11:57 UTC,2023-01-30,10,...,CCMS,50000.0,74999.0,9.0,52273.0,256.0,186.0,105616.0,721.0,0
1,2,41.0,NaN,16.200000,Perio Disease,1,2018-09-27 19:06:05 UTC,2022-10-25 20:33:31 UTC,2022-11-23,15,...,CCMS,NaN,NaN,NaN,NaN,281.0,206.0,36181.0,734.0,0
2,3,41.0,16.0,7.528633,Denture or Partial Denture,1,2022-11-01 21:01:37 UTC,2022-11-01 21:14:36 UTC,2022-11-15,12,...,CCMS,NaN,NaN,NaN,NaN,222.0,61.0,58972.0,694.0,0
3,4,37.0,17.0,12.795177,Cracked/Broken Teeth,1,2022-11-09 16:00:50 UTC,2022-11-09 16:29:40 UTC,2022-11-14,7,...,CCMS,NaN,NaN,NaN,NaN,894.0,186.0,26458.0,711.0,0
4,5,107.0,12.0,38.128911,Existing Implant Failing,1,2022-06-15 04:01:50 UTC,2022-12-13 07:27:24 UTC,2022-12-13,14,...,CCMS,NaN,NaN,NaN,NaN,434.0,78.0,22593.0,668.0,0

In [4]:
# Get column labeling consistent as snake_case.
from inflection import underscore

df.columns = [underscore(col) for col in df.columns]

## Work through the columns performing EDA, data cleaning, and feature engineering.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   lead_number                                  100000 non-null  int64
 1   apts_in_next_seven_c                         99991 non-null   float64
 2   lead_segment_20_c                            91483 non-null   float64
 3   distance_to_center                           99810 non-null   float64
 4   dental_condition                             96688 non-null   object
 5   has_email                                    100000 non-null  int64
 6   created_date                                 99995 non-null   object
 7   scheduled_time_c                             99999 non-null   object
 8   apt_date_c                                   100000 non-null  datetime64[ns]
 9   apt_hour                                     100000 non-null  int64
 10  sched_source                                 100000 non-null  object
 11  prev_no_shows                                100000 non-null  int64
 12  first_campaign_type                          99837 non-null   object
 13  last_campaign_type                           99837 non-null   object
 14  num_campaigns                                99837 non-null   float64
 15  start                                        100000 non-null  int64
 16  revenue_sold                                 100000 non-null  float64
 17  in_market                                    99994 non-null   object
 18  created_by_channel                           100000 non-null  object
 19  estimated_income_min_c                       23226 non-null   float64
 20  estimated_income_max_c                       23667 non-null   float64
 21  economic_stability_indicator_c               24466 non-null   float64
 22  total_liquid_investible_assets_c             24226 non-null   float64
 23  atp_value                                    87246 non-null   float64
 24  affluence_index_value                        75459 non-null   float64
 25  income_360_value                             82083 non-null   float64
 26  vantage_score_neighborhood_risk_score_value  87240 non-null   float64
 27  is_arrived                                   100000 non-null  int64
dtypes: datetime64[ns](1), float64(13), int64(6), object(8)
memory usage: 21.4+ MB

In [6]:
# Based on data dictionary, drop these columns that are data from AFTER the intial appointment.
# (so can't be used to predict appointment attendance).

df = df.drop(columns=["start", "revenue_sold"])

In [7]:
# Leads are entered as numeric but this is categorical data.

df["lead_segment_20_c"] = df["lead_segment_20_c"].astype(str)

In [8]:
df.describe()

,lead_number,apts_in_next_seven_c,distance_to_center,has_email,apt_hour,prev_no_shows,num_campaigns,estimated_income_min_c,estimated_income_max_c,economic_stability_indicator_c,total_liquid_investible_assets_c,atp_value,affluence_index_value,income_360_value,vantage_score_neighborhood_risk_score_value,is_arrived
count,100000.000000,99991.000000,9.981000e+04,100000.000000,100000.000000,100000.000000,99837.000000,23226.000000,23667.000000,24466.000000,2.422600e+04,87246.000000,75459.000000,8.208300e+04,87240.000000,100000.00000
mean,50000.500000,57.182966,8.663972e+04,0.943660,11.703870,0.182030,10.450725,53569.275812,56919.606752,17.485694,1.296300e+05,443.043555,279.323778,9.328094e+04,690.687150,0.25904
std,28867.657797,34.418209,2.736060e+07,0.230578,2.423913,0.916015,5.098682,32805.692118,32649.246353,8.172595,5.601145e+05,272.629895,269.014900,9.116080e+04,53.892747,0.43811
min,1.000000,0.000000,0.000000e+00,0.000000,7.000000,0.000000,1.000000,15000.000000,14999.000000,1.000000,0.000000e+00,1.000000,1.000000,4.276000e+03,506.000000,0.00000
25%,25000.750000,30.000000,9.291616e+00,1.000000,10.000000,0.000000,7.000000,30000.000000,29999.000000,11.000000,4.716000e+03,208.000000,79.000000,3.975400e+04,653.000000,0.00000
50%,50000.500000,57.000000,1.700000e+01,1.000000,11.000000,0.000000,11.000000,50000.000000,49999.000000,19.000000,3.522900e+04,422.000000,187.000000,6.798300e+04,693.000000,0.00000
75%,75000.250000,80.000000,3.800000e+01,1.000000,14.000000,0.000000,13.000000,75000.000000,74999.000000,25.000000,9.906175e+04,675.000000,386.000000,1.168440e+05,731.000000,1.00000
max,100000.000000,188.000000,8.643957e+09,1.000000,18.000000,44.000000,50.000000,125000.000000,124999.000000,30.000000,2.828518e+07,1000.000000,1000.000000,2.000000e+06,827.000000,1.00000

In [9]:
print(f"Number of repeated leads: {len(df) - len(df['lead_number'].unique())}")

Number of repeated leads: 0

In [10]:
# There are some large values for distance_to_center...

len(df.query("distance_to_center > 250"))
# len(df.query("distance_to_center > 250")) / len(df)

659

In [11]:
# Consolidate distance_to_center a bit so there's not such a spread.

df["distance_to_center_conslidated"] = np.where(
    df["distance_to_center"] >= 250, 250, df["distance_to_center"] 
)

In [12]:
df["dental_condition"].value_counts()

3 or More Missing Teeth        32667
1-2 Missing Teeth              20208
Cracked/Broken Teeth           14971
Denture or Partial Denture     11334
Perio Disease                   4054
Existing Implant Failing        3823
Bridge Failing                  3579
Crown(s) Failing                3217
Teeth Failing Beyond Repair     1479
Loose Teeth                      485
Missing 9 or more teeth          408
Missing 4-8 teeth                219
Missing 1-3 teeth                204
Multiple Teeth                    32
Single Tooth                       3
Dbl Denture                        3
Upper Full Denture                 2
Name: dental_condition, dtype: int64

In [13]:
# Consolidate the dental conditions into a smaller number of groups.

df["dental_condition_consolidated"] = df["dental_condition"].replace(
    {
        "Missing 9 or more teeth": "3 or More Missing Teeth",
        "Missing 4-8 teeth": "3 or More Missing Teeth",
        "Multiple Teeth": "3 or More Missing Teeth",

        "Missing 1-3 teeth": "1-2 Missing Teeth",
        "Single Tooth": "1-2 Missing Teeth",

        "Cracked/Broken Teeth": "Existing Teeth with Issues",
        "Teeth Failing Beyond Repair": "Existing Teeth with Issues",
        "Loose Teeth": "Existing Teeth with Issues",
        
        "Dbl Denture": "Denture or Partial Denture",
        "Upper Full Denture": "Denture or Partial Denture",
        
        "Existing Implant Failing": "Existing Work Failing",
        "Bridge Failing": "Existing Work Failing",
        "Crown(s) Failing": "Existing Work Failing"
    }
)

df["dental_condition_consolidated"].value_counts()

3 or More Missing Teeth       33326
1-2 Missing Teeth             20415
Existing Teeth with Issues    16935
Denture or Partial Denture    11339
Existing Work Failing         10619
Perio Disease                  4054
Name: dental_condition_consolidated, dtype: int64

In [14]:
# Correct the data type for the dates.

df["scheduled_time_c"] = pd.to_datetime(df["scheduled_time_c"]).dt.tz_localize(None)
df["created_date"] = pd.to_datetime(df["created_date"]).dt.tz_localize(None)

# Need to add a time to appointment date to allow for later feature engineering.
df["apt_date_c"] = pd.to_datetime(
    df["apt_date_c"].astype(str) + " " + df["apt_hour"].astype(str) + ":00"
    )

print(f"created range: {df['created_date'].min()} - {df['created_date'].max()}")
print(f"scheduled range: {df['scheduled_time_c'].min()} - {df['scheduled_time_c'].max()}")
print(f"appointment range: {df['apt_date_c'].min()} - {df['apt_date_c'].max()}")

created range: 2008-06-17 20:50:27 - 2023-02-01 05:01:45
scheduled range: 2022-03-24 20:48:29 - 2023-02-01 05:07:44
appointment range: 2022-10-03 07:00:00 - 2023-01-31 18:00:00

In [15]:
# Add some features - time between different dates.

df["days_created_to_scheduling"] = (df["scheduled_time_c"] - df["created_date"]).dt.days
df["days_created_to_appointment"] = (df["apt_date_c"] - df["created_date"]).dt.days
df["days_scheduling_to_appointment"] = (df["apt_date_c"] - df["scheduled_time_c"]).dt.days

df[[
    "days_created_to_scheduling",
    "days_created_to_appointment",
    "days_scheduling_to_appointment"
]].describe()

,days_created_to_scheduling,days_created_to_appointment,days_scheduling_to_appointment
count,99995.000000,99995.000000,99999.000000
mean,178.122086,189.635042,11.243732
std,517.145174,517.748654,13.992765
min,-69.000000,-44.000000,-44.000000
25%,0.000000,4.000000,2.000000
50%,0.000000,15.000000,6.000000
75%,37.000000,56.000000,16.000000
max,5256.000000,5258.000000,312.000000

In [16]:
# Some potential date errors making negative values, so make all instances -1 for now.

df["days_created_to_scheduling"] = np.where(df["days_created_to_scheduling"] < 0, -1, df["days_created_to_scheduling"])
df["days_created_to_appointment"] = np.where(df["days_created_to_appointment"] < 0, -1, df["days_created_to_appointment"])
df["days_scheduling_to_appointment"] = np.where(df["days_scheduling_to_appointment"] < 0, -1, df["days_scheduling_to_appointment"])

In [17]:
# Add in the day of the week as a potential feature.

df["apt_date_day"] = df["apt_date_c"].dt.day_name()

df["apt_date_day"].value_counts()

Monday       25320
Tuesday      23622
Thursday     21697
Wednesday    20649
Friday        8638
Saturday        74
Name: apt_date_day, dtype: int64

In [18]:
df["sched_source"].value_counts()

ccms    70220
web     29523
imc       257
Name: sched_source, dtype: int64

In [19]:
df["first_campaign_type"].value_counts()

Web-SEM                    66697
Web Lead                   12896
Web-Phone                   6804
Web-Display                 4433
Long-form TV                2171
National                    1937
Web-Email Program           1851
Unknown Type                1731
TV                           368
Referral                     290
Web AB Test                  182
Direct Mail                  170
Web-Video                    157
Newspaper                     61
National Long Form            43
Brochure                      22
Legacy Marketing Number       20
Radio                          3
Web Lead 3 (IMS)               1
Name: first_campaign_type, dtype: int64

In [20]:
df["last_campaign_type"].value_counts()

Web-Email Program          85117
Web Lead                    4383
Web-Phone                   3912
Web-SEM                     3236
Direct Mail                 1408
National                     389
Long-form TV                 385
Web-Display                  336
Unknown Type                 273
Referral                     178
TV                           132
Legacy Marketing Number       31
Web AB Test                   23
Newspaper                     19
Brochure                       7
Web-Video                      5
Radio                          3
Name: last_campaign_type, dtype: int64

In [21]:
# Convert to numeric for consistency.

df["in_market"] = df["in_market"].replace(
    {
        "Y": 1,
        "N": 0
    }
)

In [22]:
df["created_by_channel"].value_counts()

CCMS       97639
Website     1425
IMC          936
Name: created_by_channel, dtype: int64

In [23]:
df["is_arrived"].value_counts()

0    74096
1    25904
Name: is_arrived, dtype: int64

In [24]:
df.head()

,lead_number,apts_in_next_seven_c,lead_segment_20_c,distance_to_center,dental_condition,has_email,created_date,scheduled_time_c,apt_date_c,apt_hour,...,affluence_index_value,income_360_value,vantage_score_neighborhood_risk_score_value,is_arrived,distance_to_center_conslidated,dental_condition_consolidated,days_created_to_scheduling,days_created_to_appointment,days_scheduling_to_appointment,apt_date_day
0,1,78.0,17.0,7.264197,Cracked/Broken Teeth,1,2022-05-25 01:47:05,2023-01-27 06:11:57,2023-01-30 10:00:00,10,...,186.0,105616.0,721.0,0,7.264197,Existing Teeth with Issues,247.0,250.0,3.0,Monday
1,2,41.0,nan,16.200000,Perio Disease,1,2018-09-27 19:06:05,2022-10-25 20:33:31,2022-11-23 15:00:00,15,...,206.0,36181.0,734.0,0,16.200000,Perio Disease,1489.0,1517.0,28.0,Wednesday
2,3,41.0,16.0,7.528633,Denture or Partial Denture,1,2022-11-01 21:01:37,2022-11-01 21:14:36,2022-11-15 12:00:00,12,...,61.0,58972.0,694.0,0,7.528633,Denture or Partial Denture,0.0,13.0,13.0,Tuesday
3,4,37.0,17.0,12.795177,Cracked/Broken Teeth,1,2022-11-09 16:00:50,2022-11-09 16:29:40,2022-11-14 07:00:00,7,...,186.0,26458.0,711.0,0,12.795177,Existing Teeth with Issues,0.0,4.0,4.0,Monday
4,5,107.0,12.0,38.128911,Existing Implant Failing,1,2022-06-15 04:01:50,2022-12-13 07:27:24,2022-12-13 14:00:00,14,...,78.0,22593.0,668.0,0,38.128911,Existing Work Failing,181.0,181.0,0.0,Tuesday

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 32 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   lead_number                                  100000 non-null  int64
 1   apts_in_next_seven_c                         99991 non-null   float64
 2   lead_segment_20_c                            100000 non-null  object
 3   distance_to_center                           99810 non-null   float64
 4   dental_condition                             96688 non-null   object
 5   has_email                                    100000 non-null  int64
 6   created_date                                 99995 non-null   datetime64[ns]
 7   scheduled_time_c                             99999 non-null   datetime64[ns]
 8   apt_date_c                                   100000 non-null  datetime64[ns]
 9   apt_hour                                     100000 non-null  int64
 10  sched_source                                 100000 non-null  object
 11  prev_no_shows                                100000 non-null  int64
 12  first_campaign_type                          99837 non-null   object
 13  last_campaign_type                           99837 non-null   object
 14  num_campaigns                                99837 non-null   float64
 15  in_market                                    99994 non-null   float64
 16  created_by_channel                           100000 non-null  object
 17  estimated_income_min_c                       23226 non-null   float64
 18  estimated_income_max_c                       23667 non-null   float64
 19  economic_stability_indicator_c               24466 non-null   float64
 20  total_liquid_investible_assets_c             24226 non-null   float64
 21  atp_value                                    87246 non-null   float64
 22  affluence_index_value                        75459 non-null   float64
 23  income_360_value                             82083 non-null   float64
 24  vantage_score_neighborhood_risk_score_value  87240 non-null   float64
 25  is_arrived                                   100000 non-null  int64
 26  distance_to_center_conslidated               99810 non-null   float64
 27  dental_condition_consolidated                96688 non-null   object
 28  days_created_to_scheduling                   99995 non-null   float64
 29  days_created_to_appointment                  99995 non-null   float64
 30  days_scheduling_to_appointment               99999 non-null   float64
 31  apt_date_day                                 100000 non-null  object
dtypes: datetime64[ns](3), float64(16), int64(5), object(8)
memory usage: 24.4+ MB

In [26]:
# Save dataset for model building (as csv as requested).

df.to_csv("cleaned_case_study_data.csv")